@keyframes animate_cloud{
  0%{transform: translateX(-2000px);}
  /*50%{transform: translateX(1000px);}*/
  100%{transform: translateX(2000px);}
}
/*@keyframes animate_shark {
  0%{transform: translateX(1000px) translateY(200px)rotate(18deg);}
  10%{transform: translateX(900px) translateY(125px)rotate(36deg);}
  20%{transform: translateX(800px) translateY(50px)rotate(48deg);}
  30%{transform: translateX(700px) translateY(-25px)rotate(60deg);}
  40%{transform: translateX(750px) translateY(-100px) rotate(72deg);}
  50%{transform: translateX(600px) translateY(-200px) rotate(90deg);}
  60%{transform: translateX(500px) translateY(-100px) rotate(108deg);}
  70%{transform: translateX(400px) translateY(-25px)rotate(126deg);}
  80%{transform: translateX(200px) translateY(50px)rotate(144deg);}
  90%{transform: translateX(0px) translateY(125px)rotate(162deg);}
  100%{transform: translateX(-200px) translateY(200px) rotate(180deg);}
  }*/
  /*@keyframes animate_shark {
    0%{transform: translateX(1000px) translateY(200px);}
    10%{transform: translateX(900px) translateY(125px);}
    20%{transform: translateX(800px) translateY(50px);}
    30%{transform: translateX(750px) translateY(-25px);}
    40%{transform: translateX(700px) translateY(-100px);}
    50%{transform: translateX(600px) translateY(-200px);}
    60%{transform: translateX(500px) translateY(-100px);}
    70%{transform: translateX(400px) translateY(-25px);}
    80%{transform: translateX(200px) translateY(50px);}
    90%{transform: translateX(0px) translateY(125px);}
    100%{transform: translateX(-200px) translateY(200px);}
    }*/
  @keyframes animate_shark_up {
  0%{transform: translateX(1000px) translateY(400px)rotate(0deg);}
  50%{transform: translateX(600px) translateY(200px)rotate(180deg);}
  100%{transform: translateX(-200px) translateY(400px)rotate(360deg);}
  }


.cloud{
  animation-name: animate_cloud;
  animation-duration: 36s;
  animation-fill-mode: forwards;
  width: 125px;
}
.cloud2{
  animation-name: animate_cloud;
  animation-duration: 30s;
  animation-fill-mode: forwards;
  width: 175px;
}
.cloud3{
animation-name: animate_cloud;
animation-duration: 26s;
animation-fill-mode: forwards;
width: 75px;
}
.shark{
  animation-name: animate_shark_up;
  animation-duration: 5s;
  animation-fill-mode: both;
  width: 150px;
  animation-timing-function: linear;
}
body{
  width:100%;
  background-color: blue;
  background-image: url('http://clipground.com/images/city-wallpaper-clipart-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
